target/
bin/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
sandbox/fo-ods/.classpath

sandbox.zip

sandbox/fo-ods-ulg.zip

sandbox/fo-ods-ulg.zip

sandbox/TradeStorageSpanner.zip

sandbox/lifeloadercreator.zip

functions/node_modules
functions/node_modules/*
**/node_modules
**/node_modules/*
**/.DS_Store

*.bak




sandbox/tradecore-bridge/FO ODS PoC-248a988a83d0.json

sandbox/tradecore-bridge/FO_ODS.key.json

OneClickSetup/src/GKEOPT/__pycache__/buildModule.cpython-36.pyc

*.pyc

sandbox/tradecore-balcm/src/main/resources/cash-eq/cash-eq-trade.json

*.pyc

OneClickSetup/src/Setting/__pycache__/SystemConfig.cpython-36.pyc
