<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<bean id="bkqueue" class="java.util.concurrent.LinkedBlockingQueue"></bean>
	
	<bean id="SimpleTaskHandler" class="com.maplequad.fo.ods.tradecore.lcm.utils.pubsub.SimpleTaskHandler">
	<constructor-arg type="int" value="4" />
	</bean>
	
	<bean id="PubSubShooter" class="com.foods.lifeloader.lifeloaderdummy.Publisher.PubSubShooter">
	</bean>
	
	<bean id="PlainPublisher" class="com.maplequad.fo.ods.tradecore.lcm.utils.pubsub.PlainPublisher">
		<constructor-arg type="java.util.concurrent.BlockingQueue" ref="bkqueue" />
	</bean>
	
	<bean id="PlainConsumer" class="com.maplequad.fo.ods.tradecore.lcm.utils.pubsub.PlainConsumer">
		<constructor-arg type="java.util.concurrent.BlockingQueue" ref="bkqueue" />
		<constructor-arg type="com.maplequad.fo.ods.tradecore.lcm.utils.pubsub.SimpleTaskHandler" ref="PubSubShooter" />
		<constructor-arg ref="taskExecutor" />
	</bean>
	
	<bean id="SimpleTaskProducer" class="com.maplequad.fo.ods.tradecore.lcm.utils.pubsub.SimpleTaskProducer">
		<constructor-arg type="com.maplequad.fo.ods.tradecore.lcm.utils.pubsub.PlainPublisher" ref="PlainPublisher" />
		<constructor-arg ref="taskExecutor" />
		<constructor-arg type="int" value="4" />
	</bean>
	
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
		<property name="queueCapacity" value="25" />
	</bean>
	
	<bean id="TradeGeneratorServiceLegacy"
		class="com.maplequad.fo.ods.tradecore.lcm.services.TradeGeneratorServiceLegacy">
		<constructor-arg type="java.lang.String" value="cash-eq" />
		<constructor-arg type="java.lang.String" value="CREATE" />
	</bean>
	<bean id="TradeConverterService2Pojo"
		class="com.maplequad.fo.ods.tradecore.lcm.services.TradeConverterService2Pojo">
	</bean>
	
	<bean id="CloudStorageHelper"
		class="com.foods.lifeloaderutility.CloudStorageHelper">
		<constructor-arg type="java.lang.String" value="foodstest" />
	</bean>

	<bean name="PubSubPublisher" class="com.foods.lifeloader.lifeloaderdummy.Publisher.PubSubPublisher" scope="prototype"/>
	<bean name="MockPublisher" class="com.foods.lifeloader.lifeloaderdummy.Publisher.MockPublisher"/>

	<!-- 
	<bean id="TradeCoreStoreService"
		class="com.maplequad.fo.ods.tradecore.lcm.services.TradeCoreStoreService">
		<constructor-arg type="java.lang.String" value="35.189.219.191" />
		<constructor-arg type="int" value="5555" />
	</bean> -->
	
</beans>